package main

const facebookClientId = ""
const facebookClientSecret = ""
const facebookRedirectUrl = "http://local.page5of4.com:9090/facebook/callback"
const facebookOauthStateString = ""

const spotifyClientId = ""
const spotifyClientSecret = ""
const spotifyRedirectUrl = "http://local.page5of4.com:9090/spotify/callback"
const spotifyOauthStateString = ""
